html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.card {
    background: #000;
    width: 100%;
    padding: 20px;
}

.col-xl-4 {
    margin: 20px auto;
}

.card .card-img img {
    width: 100%;
}

.card .card-desc {
    text-align: center;
    margin: 20px;
}

.card .card-desc h2 {
    font-size: 20px;
    color: white;
}

.card .card-desc p {
    color: white;
    text-decoration: underline;
    font-size: 20px;
}

.card-desc .btn-1 {
    background-color: #499575;
    padding: 10px 20px;
    border-radius: 50px;
    width: 70%;
    border: none;
}

.card-desc .btn-1 a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* tabs-content */
.tabs-style {
    background-color: #88d7d2;
    padding: 30px;
}
.tab-content {
    display: none;
}

.active-tab-content {
    display: block;
    animation: floatRightToLeft 0.5s ease-in-out;
}

.tab-content h2 {
    color: black;
    margin: 20px 0;
}

.tab-content p {
    color: grey;
}
@keyframes floatRightToLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.tab-item {
    cursor: pointer;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}

.active {
    background-color: #588d7d;
}
